/*Style Nav*/

nav {
  margin-left: 2%;
  margin-right: 2%;
  border-bottom: 1px solid var(--fontColorPrimary);
  padding: 0;
  padding-bottom: 8px;
  z-index: 1045;
}

/*.modal-backdrop.show {
  opacity: 0.5 !important;
  z-index: unset !important;
}*/

.nav {
  display: flex;
  flex-direction: row;
}

a {
  color: var(--fontColorPrimary);
}

a:visited {
  background-color: var(--hoverColorPrimary);
}

ul {
  list-style-type: none;
}

.img {
  height: 60px;
  margin: auto;
  cursor: pointer;
}

.fa-search {
  height: 50px;
  position: absolute;
  top: 10px;
  color: var(--fontColorPrimary);
}

.fa-bars {
  color: var(--fontColorPrimary);
}

.navbar-toggler-icon {
  color: var(--fontColorPrimary) !important;
}

.image {
  text-align: center;
  width: 100%;
}

ul li {
  margin-left: 20px;
}

li:hover a {
  color: var(--fontColorQuaternary) !important;
}

.nav, .navbar-toggler {
  position: absolute;
  right: 20px;
}

.nav-signUp {
  color: var(--fontColorPrimary);
  font-weight: 600;
  font-size: 25px;
  padding: 5px;
}

.nav-link {
  padding: 5px;
}

.nav-signUp:hover {
  background-color: var(--fontColorPrimaryHover);
}

.link {
  color: var(--fontColorPrimary) !important;
}

.link:hover {
  color: var(--fontColorQuaternary) !important;
}

.sign-up {
  background-color: var(--buttonColorPrimary);
  color: var(--fontColorQuaternary) !important;
}

.sign-up:hover {
  background-color: var(--buttonColorSecondary);
  color: var(--fontColorPrimary) !important;
  border: 1px solid var(--buttonColorPrimary);
}

.navbar-light {
  color: var(--fontColorQuaternary);
}

.navbar .icon {
  display: none;
}

.nav-img {
  width: 60px;
  z-index: -1;
}

.nav-img:focus {
  outline: none;
}

.dropdownLinks a:hover, .dropdownLinks:hover a {
  color: var(--fontColorPrimary) !important;
}

.profile_image {
  border-radius: 50%;
  border: 2px solid var(--fontColorPrimary);
  height: 60px;
  width: 60px;
}

.background_color {
  background-color: var(--fontColorPrimaryHover);
}

.button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
}

.is-active {
  background-color: var(--fontColorPrimaryHover);
}

/*----------------------------------------------------------------*/

/*Media queries*/

@media screen and (max-width: 800px) {
  .form-inline {
    display: none;
  }
  .navbar .icon {
    float: right;
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 8px;
  }
  .form-inline.responsive {
    display: block;
    flex-direction: column;
  }
  .nav {
    flex-direction: column;
    margin-top: 35px;
    width: 100%;
    margin-right: -10px;
    text-align: center;
  }
  .nav-signUp {
    background-color: var(--buttonColorSecondary);
    border-radius: 5px;
  }
  .link, .nav-signUp {
    color: var(--fontColorPrimary) !important;
  }
  .sign-up {
    color: var(--buttonColorPrimary) !important;
    background-color: transparent !important;
  }
  .sign-up:hover {
    color: var(--fontColorQuaternary) !important;
  }
}

/*
@media (max-width: 300px) {
  nav, ul {
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
  }
  .nav {
    position: relative;
    right: 0px;
  }
}
*/

/*Form*/

/*Upload Photo*/

.upload_photo {
  border: 1px solid var(--fontColorPrimary);
  height: 180px;
  width: 60%;
  margin: auto;
  border-radius: 20px;
  background-color: var(--backgroundColor-AddPhoto);
  text-align: center;
  padding-top: 40px;
}

.small {
  font-size: var(--SmallSize);
}

.upload_photo i {
  width: 80px;
  cursor: pointer;
}

.input_file {
  height: 100%;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.upload_photo {
  position: relative;
}

.image-upload img {
  width: 80px;
  cursor: pointer;
}

.icon_file:hover {
  color: var(--fontColorSecondary);
}

#file-input {
  width: 100%;
  height: 100%;
}

.red {
  color: red;
}

/*inputs description*/

.form_post {
  font-size: var(--pNormalSize);
  justify-content: left;
}

.input-text {
  width: 100%;
  border-width: 0 0 2px 0;
  border-color: var(--fontColorPrimary);
  font-size: 18px;
  line-height: 26px;
  color: var(--fontColorSecondary);
}

.input-text:focus {
  outline: none;
}



.description {
  border: 1px dashed var(--fontColorPrimary);
  border-radius: 5px;
  padding: 10px;
}

#description_label {
  display: flex;
  position: relative;
}

.tag {
  background-color: var(--buttonColorTertiary);
}

.example-chip-list {
  width: 100%;
}

.contar_letras {
  position: absolute;
  right: 0;
  font-size: var(--SmallSize);
  color: var(--fontColorSecondary);
}

.button_upload {
  font-size: var(--pNormalSize);
  background-color: var(--buttonColorPrimary);
  color: var(--fontColorQuaternary);
  padding-left: 50px;
  padding-right: 50px;
}

.button_upload:hover {
  background-color: var(--buttonColorTertiary);
}

.modal-footer {
  width: 100%;
  justify-content: center;
}

.input_search {
  outline: none;
}

.search {
  position: relative;
}

.search-bar {
  position: absolute;
  top: -15px;
}

.input_search {
  background: url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 10px center;
  border: solid 1px var(--fontColorPrimary);
  padding: 9px 10px 9px 32px;
  width: 80px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.input_search:focus {
  width: 160px;
}

.input_search:-moz-placeholder {
  color: #999;
}

.input_search::-webkit-input-placeholder {
  color: #999;
}

/*TOAST*/

.toast {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;
  z-index: 1050;
}

.nav-img{
  z-index: 0;
  cursor: pointer;

}

::ng-deep .mat-tooltip {
  /* your own custom styles here */
  /* e.g. */
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  background-color: var(--backgroundColorFooter);
  border-radius: 5px;
}
