<script src="tagin.min.js"></script>


<header>

  <nav class="navbar">
    <div class="search" *ngIf="observables.variable == 0">
      <!-- <img src="/assets/search.svg" alt="search" class="img-search">-->
      <!--<i class="fas fa-search fa-2x img-search"></i>-->
      <input type="search" placeholder="Search" class="input_search img-search search-bar" (focus)="focus_search_true()"
        (blur)="focus_search_false()" [(ngModel)]='tagText' (keyup)="tagSearch()">
    </div>

    <div class="search" *ngIf="observables.variable == 1">
      <!-- <img src="/assets/search.svg" alt="search" class="img-search">-->
      <!--<i class="fas fa-search fa-2x img-search"></i>-->
      <input type="search" placeholder="Search" class="input_search img-search search-bar" (focus)="focus_search_true()"
        (blur)="focus_search_false()" [(ngModel)]='userText' (keyup)="userSearch()">
    </div>

    <!--<input type="text" name="buscador" id="buscador" [(ngModel)]='tagText' (keyup)="tagSearch()">
    <input type="text" name="buscador2" id="buscador2" [(ngModel)]='userText' (keyup)="userSearch()">-->


    <div class="image">
      <a routerLink="/home" class="img">
        <img src="/assets/LogoNegro.png" alt="image" class="img" />
      </a>
    </div>



    <div class="form-inline " id="form" #form>

      <ul class="nav ">
        <li class="nav-item nav-signUp" routerLink="/homeUser" [routerLinkActive]="'is-active'">
          <button type="button" class="button">

            <img src="/assets/home.svg" alt="home" class="nav-img" mat-raised-button matTooltip="Home">
          </button>
        </li>
        <div>
          <li class="nav-item nav-signUp">
            <button type="button" class="button" data-toggle="modal" data-target="#exampleModal">
              <img src="/assets/add_post.svg" alt="home" class="nav-img" mat-raised-button matTooltip="Add Post">
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload a photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form method="POST" enctype="multipart/form-data" class="" [formGroup]="uploadPhoto"
                    (ngSubmit)="onSubmit(file)">

                    <div class="modal-body">



                      <!--[formGroup]="registerForm" (ngSubmit)="onSubmit()"-->

                      <div class="upload_photo" id="soltar" appDrop>
                        <div class="image-upload dropzone">

                          <i class="fas fa-folder-open fa-2x icon_file"></i>
                          <input type="file" #fileDropRef id="fileDropRef" class="input_file col-12" #file
                            (change)="fileEvent($event)" formControlName="Image" name="imagen"
                            [ngClass]="{ 'is-invalid': submitted && f.Image.value == null }" required>
                        </div>
                        <p class="small">Click the icon or drop a photo</p>
                        <p id="photo_name" class="small">No photo selected</p>
                        <div *ngIf="submitted && f.Image.value == null" class="red">
                          <div>Image is required</div>
                        </div>
                      </div>


                      <div class="col-12">
                        <br>
                        <div id="description">
                          <div id="description_label">
                            <label for="description" class="form_post">Description</label>
                            <small class="contar_letras" id="contar_letras">{{ box.value.length }}/1000</small>
                          </div>


                          <textarea rows="15" maxlength=1000 #box (keyup)="0" class="input-text description" name="name"
                            formControlName="Description"></textarea>
                        </div>
                      </div>
                      <div class="col-12 tags">
                        <div id="description">
                          <label for="tags" class="form_post">Tags</label>

                          <mat-chip-list #chipList aria-label="Tag selection">
                            <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
                              (removed)="remove(tag)" class="tag">
                              {{tag.name}}
                              <mat-icon matChipRemove *ngIf="removable"><i class="fas fa-times"></i></mat-icon>
                            </mat-chip>
                            <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                              [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)"
                              class="input-text description" formControlName="Tag">
                          </mat-chip-list>

                        </div>
                      </div>
                      <div class="col-12 location">
                        <div id="description">
                          <label for="tags" class="form_post">Location</label>

                          <input type="text" id="location" class="input-text description" name="location"
                            formControlName="Location">

                        </div>
                      </div>



                    </div>

                    <div class="modal-footer">
                      <button type="submit" class="btn button_upload">Upload</button>
                    </div>
                  </form>

                  <!--TOAST-->
                  <div class="toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true"
                    data-delay="5000">
                    <div class="toast-header">
                      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="toast-body">
                      Administrator will verify your post soon.
                    </div>
                  </div>


                </div>
              </div>
            </div>

          </li>
        </div>


        <li class="nav-item nav-signUp" *ngIf="this.userLog.admin == 1" [routerLinkActive]="'is-active'"
          routerLink="/waitingPost">
          <img src="/assets/aprove.svg" alt="Approve Post" class="nav-img" mat-raised-button matTooltip="Approve Posts">
        </li>
        <li class="nav-item nav-signUp">
          <div class="dropdown show dropdownLinks">

            <img src={{this.userLog.profile_image}} alt={{this.userLog.username}} class="nav-img profile_image"
              d="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">



            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" routerLink="/{{this.userLog.username}}"><i class="fas fa-user"></i> Profile</a>
              <a *ngIf='this.userLog.admin==1' class="dropdown-item" href="#" [routerLinkActive]="'is-active'"
                routerLink="/administrator"><i class="fas fa-users-cog"></i> Administration</a>
              <a class="dropdown-item" href="#" [routerLinkActive]="'is-active'"
                routerLink="/settings"><i class="fas fa-cog"></i> Settings</a>
              <a class="dropdown-item" href="#" (click)='logout()'><i class="fas fa-sign-out-alt"></i> LogOut</a>
            </div>
          </div>
        </li>

      </ul>
    </div>
    <div class="icon"><i class="fa fa-2x fa-bars" (click)="myFunction()"></i></div>

  </nav>

</header>
