<app-nav-privado *ngIf='comprobarLog()'></app-nav-privado>
<nav-publico *ngIf='!comprobarLog()'></nav-publico>

<br>
<br>
<div class=" post-user container">
  <div class="general col-12 ">
    <div class="col-12 post">
      <div class="user-header">
        <div class="username-image">
          <img [src]="profileUserPost" alt="image" class="image-user">
          <p class="p-user" routerLink='/{{this.post.username}}'>{{this.post.username}}</p>
        </div>
        <div class="user-location">
          <i *ngIf="post.location" class="fas fa-2x fa-map-marker-alt"></i>
          <p class="p-user">{{this.post.location}}</p>
        </div>
      </div>

      <div class="image-div">
        <img [src]="this.post.imagen" alt="imagen" class="imagen-post" #pic (load)='resize(this.pic, 800, 600)'
          *ngIf="complete_screen">
        <img [src]="this.post.imagen" alt="imagen" class="imagen-post" #pic (load)='resize(this.pic, 500, 250)'
          *ngIf="mobile_900">
        <img [src]="this.post.imagen" alt="imagen" class="imagen-post" #pic (load)='resize(this.pic, 300, 150)'
          *ngIf="mobile_500">

      </div>
      <br>
      <br>

      <div class="like-date-image">
        <div class="likes" *ngIf="comprobarLog()">
          <i *ngIf="liked == '0 resultados'" class="fas fa-heart fa-2x likeAvailable" (click)="like()"></i>
          <i *ngIf="liked != '0 resultados'" class="fas fa-heart fa-2x likeDisavailable" (click)="dislike()"></i>
          <span>{{observables.likes}}</span>
        </div>

        <div class="likes" *ngIf="!comprobarLog()">
          <i class="fas fa-heart fa-2x likeDisavailable"></i>
          <span>{{observables.likes}}</span>
        </div>

        <div *ngIf=" this.userLog.admin == 1 || usernameSession  == this.post.username || usernameLocal == this.post.username" id="delete">
          <button id="deleteButton" (click)='deletePost(this.post.id)'><i  mat-raised-button matTooltip="Delete Post" class="basura fas fa-trash-alt"></i></button>

        </div>

        <div class="date-post">
          <p class="date">{{this.post.fecha}}</p>
        </div>
      </div>
      <br><br><br>
      <div class="descripcion">
        <p class="post-description">{{this.post.descripcion}}</p>
      </div>
    </div>
    <br>
    <div class="col-12 comments" >
      <br>
      <h2 class="h2">Comments</h2>
      <br>
      <div class="write-comment-div">
        <form method="POST" class="" [formGroup]="comment" (ngSubmit)="uploadComment()" *ngIf = "comprobarLog()">


          <input type="text" name="comment" id="comment" class="commnet-input input-text"
            placeholder="Write your comment here." formControlName="comment_data" >
          <button class="btn button" type="submit">Send</button>
        </form>
      </div>
      <br><br>
      <div class="comments-users">
        <h3>Latest Comments</h3>
        <div *ngIf="this.observables.comments">
          <div class="user-commented" *ngFor="let comment of this.observables.comments">
            <div class="comment-border" *ngIf="comment.parent_id == -1">
              <!-- <img [src]="profileI" (load)="this.profileimage(comment.user)" alt="user_image" class="user-commented-image">-->
              <div>
                <p class="username-commented-image"><a class="noDec" routerLink='/{{comment.username}}'>{{comment.username}}</a> <small> {{comment.date}}</small></p>
                <div class="comment-data-div">
                  <p class="comment-data">{{comment.comment}}</p>
                  <div><a class="btn-reply" (click)="toggle(comment.id)">Reply</a></div>

                </div>

              </div>
              <div class="replay-comment" *ngIf="this.show && comment.id == observables.replies[0].parent_id">
                <div *ngFor="let reply of observables.replies">
                  <div class="replies-comment">
                    <p class="username-commented-reply"><a class="noDec" routerLink='/{{reply.username}}'>{{reply.username}}</a> <small> {{reply.date}}</small></p>
                    <div class="comment-reply-data-div">
                      <p class="reply-comment-data">{{reply.comment}}</p>
                    </div>
                  </div>
                </div>

                <form method="POST" class="formReply" [formGroup]="replay_comment" (ngSubmit)="replayComment(comment.id)" *ngIf = "comprobarLog()">
                  <input type="text" name="comment" id="comment" class="commnet-input form-Reply"
                    placeholder="Write your comment here." formControlName="comment_data">
                    <br>
                  <button class="btn button-response" type="submit">Send</button>
                </form>

              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!this.observables.comments">
          <p>No comments</p>
        </div>

      </div>
    </div>
  </div>

</div>
<br><br><br><br>

<!--TOAST-->
<div class="toast post bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
  <div class="toast-header">
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Your comment has uploaded successfully.
  </div>
</div>

<!--TOAST-->
<div class="toast no-post bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
  <div class="toast-header">
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    You have to write something in the Input.
  </div>
</div>

