.post-user {
  margin: auto;
}

.general {
  width: 100%;
}

.comments {
  width: 100%;
}

.recomendaciones {
  width: 100%;
  height: 200px;
}

.post-user {
  display: flex;
}
.post{
  text-align: center;
}

.image-div{
   width: 100%;
}

.imagen-post {
  border-radius: 2px;
  box-shadow: 1px 1px 50px black;
  margin-top: 100px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.p-user {
  font-size: 30px;
  color: var(--fontColorPrimary);
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.image-user {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.user-commented-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.username-commented-image {
  font-size: var(--pUserCommented);
  color: var(--fontColorPrimary);
  font-weight: 600;
  margin-top: 12px;
  margin-left: 15px;
}

.username-commented-reply {
  font-size: 20px;
  color: var(--fontColorPrimary);
  font-weight: 600;
  margin-top: 12px;
}

.user-commented {
  display: flex;
}

.comment-border{
  width: 100%;
  border: 1px dashed grey;
  margin-bottom: 10px;
}

.h2 {
  color: var(--fontColorPrimary);
}

.likeAvailable {
  color: var(--buttonColorTertiary);
  cursor: pointer;
}

.likeAvailable:hover {
  color: var(--buttonColorPrimary);
}

.likeDisavailable {
  color: var(--buttonColorPrimary);
}

.date {
  font-size: var(--pNormalSize);
  color: var(--fontColorPrimary);
}

.like-date-image {
  position: relative;
}

.likes {
  position: absolute;
  right: 20px;
}

.date-post {
  position: absolute;
  left: 20px;

}

.post-description {
  font-size: var(--pNormalSize);
}

.username-image {
  display: flex;
}

.user-header {
  position: relative;
}

.username-image {
  position: absolute;
  left: 0;
}

.user-location {
  position: absolute;
  right: 90px;
  display: flex;
}

.fa-map-marker-alt{

  color: var(--fontColorPrimary);
  margin-top: 10px;
}

.comment-data{
  color: var(--fontColorPrimary);
  font-size: var(--pNormalSize);
}

#deleteButton{
  background-color: #FFFF;
  border: none;
  padding-right: 90%;
  }

  .basura{
    font-size: 30px;
    color: var(--fontColorPrimary);
    margin-bottom: 11px;
  }
.comment-data-div{
  margin-left: 15px;
}

.reply-comment-data{
  color: var(--fontColorPrimary);
  font-size:16px;
}

small{
  font-size: var(--SmallSize);
}

.commnet-input{
  width: 100%;
}


.input-text {
  width: 100%;
  border-width: 0 0 2px 0;
  border-color: var(--fontColorPrimary);
  font-size: 25px;
  line-height: 26px;
  color: var(--fontColorSecondary);
}

.form-Reply{
  width: 40%;
  border-width: 0 0 2px 0;
  border-color: var(--fontColorPrimary);
  font-size: 25px;
  line-height: 26px;
  color: var(--fontColorSecondary);
}

.input-text:focus , .form-Reply:focus{
  outline: none;
}

.input-text::placeholder, .form-Reply::placeholder{
  color: var(--fontColorSecondary);
}

.button{
  font-size: var(--pNormalSize);
  background-color: var(--buttonColorPrimary);
  color: var(--fontColorQuaternary);
  margin-top:5px;
}
.button-response{
  font-size: 15px;
  background-color: var(--buttonColorPrimary);
  color: var(--fontColorQuaternary);
  margin-top:5px;
}

.formReply{
  margin-left: 50px;
}

.noDec{
  text-decoration: none;
  color: var(--fontColorPrimary);
}
.noDec:hover{
  text-decoration: none;
  color: var(--fontColorPrimary);
}

/*TOAST*/

.toast {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 100vh;
  text-align: center;
  z-index: 1050;
}

.btn-reply{
  text-decoration: none;
  cursor: pointer;
}

.replies-comment{
  margin-left: 50px;
}


@media screen and (max-width: 1200px) {
  .post-user {
    display: block;
  }
}
@media screen and (max-width: 770px) {
  .username-image {
    display: block;
    text-align: center;
    position: relative;
    font-size: 15px;
  }

  .p-user, .likes{
    font-size:20px;
  }

  .username-image {
    position: relative;

  }

  .user-location{

    justify-content: center;
  }

  .user-header{
    margin: auto;
    text-align: center;
  }
}

