<app-nav-privado></app-nav-privado>

<div class="contenedorGigante">
  <div *ngIf="observables.getW_posts() == '0 resultados' ">
    <span style="font-size: 24px; font-style: italic; color: grey;">No posts to approve, nice job.</span>
  </div>
  <div *ngIf="observables.getW_posts() != '0 resultados' ">
  <div *ngFor="let waitingPost of observables.getW_posts()" class="cajaContenedor">

    <div class="row post col-md-12">

      <div class="col-12 col-md-4 cajaImg">
        <div class="imagen imagenBarra"  >
          <img src={{waitingPost.imageWP}} class=" imagen img-fluid" alt="waitingpost" #pic (load)='resize(this.pic)' (load)='imagenUser(waitingPost.username)'>
        </div>
      </div>

      <div class="col-md-8 texto" >
        <img src="" class="profile_image imagenL" aria-haspopup="true" aria-expanded="true">
        <a routerLink="/{{waitingPost.username}}" href=""><span class="usuario" #imagen>{{waitingPost.username}}</span></a>
        <p class="tagNames no" *ngIf="!waitingPost.tagNames" ><i>No tagName</i></p>
        <p class="tagNames">{{waitingPost.tagNames}}</p>
        <p *ngIf="!waitingPost.descripcion" class="descripcion no"><i>No description</i></p>
        <p class="descripcion">{{waitingPost.descripcion}}</p>
        <div class="row">
          <div class="col-md-6">
            <p class="location no" *ngIf="!waitingPost.location"><i class="fas fa-map-marker-alt"></i> No location </p>
            <p class="location" *ngIf="waitingPost.location"><i class="fas fa-map-marker-alt"></i> {{waitingPost.location}}</p>
          </div>
          <div class="col-md-6"><p class="date">{{waitingPost.fecha}}</p></div>
        </div>

      </div>

      <div class="col-md-4 botones">
        <div>
          <button class="btn boton-aceptar" (click)="acceptWPost(waitingPost)">Accept</button>
        </div>

        <div>
          <button class="btn boton-denegar" (click)="declineWPost(waitingPost)">Decline</button>
        </div>
      </div>


    </div>

  </div>
</div>
</div>
