.botones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2%;

}

.imagen,
.contenedorGigante {
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;

}

.no{
  color: var(--fontColorPrimary);
  opacity: 60%;
}

.cajaContenedor {
  width: 96%;
}

.post {
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 0.2%;
  border: 1px solid var(--fontColorPrimary);
  margin: 2% 2% 2% 2%;

}

.usuario {
  font-size: 30px;
  color:var(--fontColorPrimary);

}
a{
  text-decoration: none;
}

.descripcion {
  font-size: 15px;
}

.texto {
  margin-top: 20px;
  padding-top: 1%;
  padding-left: 5%;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  height: auto;
  word-wrap: break-word;

}
.boton-aceptar{
  background-color: #32CD32;
  color: white;
}
.boton-denegar{
  background-color: #C40014;
  color: white;
}

.location{
  color: var(--fontColorPrimary);
}

.date{
  color: var(--fontColorPrimary);
}

.profile_image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;

}

