<app-nav-privado *ngIf='comprobarLog()'></app-nav-privado>
<nav-publico *ngIf='!comprobarLog()'></nav-publico>


<div class=" row infoUser col-md-12">

  <div class="col-md-4 user">

    <div class="cajaImagen">
      <img src={{userSearch.profile_image}} alt="" class="profile_image" aria-haspopup="true" aria-expanded="true">
    </div>
    <p class="username">{{userSearch.username}}</p>
    <button class="btn button boton" (click)="insertDatas()" data-toggle="modal" data-target="#modificar"
      *ngIf="this.userSearch.username == sessionStorage|| this.userSearch.username == localStorage">Edit Profile</button>
  </div>

  <div class="modal fade" id="modificar" tabindex="-1" aria-labelledby="modificarLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modificarLabel">Modify User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="formulario" method="POST" enctype="multipart/form-data" class="form"  [formGroup]="datas">
          <div class="modal-body">
            <div class="col-12">
              <br>
              <div class="cajaImagen2">
                  <img id="imgs" class="profile_image" src={{userLog.profile_image}} alt="imagen de preview">
                  <div id="iconoElegir">
                    <input name="ipF" id="inputFile" #imagen (change)='cambiarValor()' [(ngModel)]='userImagen' formControlName="Image" type="file">
                    <button id="botonIMG" (click)='cambiarImagen(imagen)'><i class="iconTamano fas fa-images"></i><p class="pInfo ">Preview</p></button>
                    <i class="iconoUp  fas fa-camera-retro "></i>
                    <p class="pInfo ppadding">Change Image</p>
                  </div>
              </div>
              <br>
              <div class="cajaInput" id="name">
                <label id="label_name" class="label" for="name_input">Name</label>
                <br>
                <input formControlName="Name"  type="text" id="name_input" name="name_input">
              </div>
              <div id="label_bio" class="cajaInput" id="bio">
                <label class="label" for="bio_input">Bio</label>
                <small class="contar_letras" id="contar_letras">{{ info.value.length }}/160</small>
                  <br>
                  <textarea formControlName="Bio"  name="bio_input" id="bio_input" cols="20" rows="6" maxlength=160 #info (keyup)="0" class="input-text description"></textarea>
              </div>
              <div class="cajaInput" id="location">
                <label class="label" for="location_input">location </label>
                <br>
                <input  formControlName="Location" type="text" id="location_input" name="location_input" >
              </div>
            </div>


          </div>
          <div class="modal-footer">
            <button id="botonEnviar" type="submit"  (click)="addDatas(imagen)" class="btn botonChange">Change</button>
          </div>
        </form>
      </div>
    </div>

  </div>

  <div class="col-md-8 dates">
    <p class="user-name">{{userSearch.name}}</p>
    <span class="numPost">{{this.totalPosts}} post</span>
    <span class="value">{{this.likes}} <i class="fas fa-heart"></i></span>
    <p class="location"><i *ngIf="userSearch.location" class="fas fa-map-marker-alt"></i> {{userSearch.location}}</p>
    <p class="bio">{{userSearch.bio}}</p>
  </div>
</div>
<hr>

<div class="main col-12 col-sm-10">
  <div *ngFor="let postUser of this.posts" class="card">
    <div class="img-fluid" routerLink="/post/{{postUser.id}}">
      <img src={{postUser.imagen}} class="img-fluid" alt="userPost" #imagen (load)='resize(this.imagen)'>
      <i class="fas fa-camera-retro fa-2x showLikes"></i>
    </div>
  </div>
</div>

<div class="toast vedit bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true"
data-delay="5000">
<div class="toast-header">
  <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="toast-body">
  Your modifications has been changed.
</div>
</div>

<div class="toast eedit bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true"
data-delay="5000">
<div class="toast-header">
  <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="toast-body">
  Select a image for preview.
</div>
</div>
