.infoUser {
  padding-top: 2%;
  text-align: center;


}

.dates{
  padding-right: 15%;
}

.user{
  padding-left:15%;
}

.profile_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;

}
.cajaImagen2{
  margin: auto;
  justify-content: center;
  text-align: center;
  height: 200px;
}

.username,
.user-name {
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: var(--fontColorPrimary);
  margin-top: 5px;
}

.numPost,
.value {
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-right: 5%;
  margin-left: 3%;
}

.location {
  margin-top: 10px;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--fontColorPrimary);
}

.userbio{
  margin-top: 5px;
}
.boton {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: white;
  background-color: var(--fontColorPrimary);
}

hr {
  background-color: var(--fontColorPrimary);
  margin: auto;
  width: 98%;
  margin-top: 10px;

}

.main {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 60px;
  z-index: 0;
}

.card{
  border-radius: 10px;
  border: none;
  margin: 10px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  color: var(--fontColorPrimary);
  font-size: var(--pNormalSize);
}
.card:hover .hover{
  display: flex;
}
.hover{
  background-color: var(--fontColorPrimaryHover);
  opacity: 50%;
}
.img-card{
  border-radius: 3px;
  width: auto;
  height: auto;
}
.card-body{
  padding: 0;
  padding-top: 10px;
}

.img-fluid {
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.img-fluid:after {
  content:"";
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-size: cover;
  background-repeat: no-repeat;
  opacity:0;
  transition:opacity .5s ease;
  background-color: var(--hoverColorPrimary);
}

.img-fluid:hover:after {
  opacity:0.6;
}
.img-fluid:hover .showLikes{
  visibility: visible;
  transition: visibility 2s ease-out;

}

.img-fluid img {
  display: block;

}

.showLikes{
  position: absolute;
  visibility: hidden;
  transition: visibility 0s ease-out;
  color: var(--fontColorQuaternary);
  z-index: 1;
}

@media (max-width: 1000px){
  .dates{
    padding-right: 0%;
  }

  .user{
    padding-left: 0%;
  }

}


#formulario{
  font-size: var(--pNormalSize);
  justify-content: left;
  text-align: left;
}

#profileImage{
  padding-bottom: 10px;
  margin: auto;
  background-size: contain;

}

#inputFile{
  position: absolute;
  width: 15%;
  margin-right: 20px;
  opacity: 0;
  cursor: pointer;
}
.iconTamano{
  font-size: 47px;
  margin-bottom: 10px;
  cursor: pointer;
}
.iconoUp{
font-size: 50px;
margin-left: 10px;
color: var(--fontColorPrimary);
cursor: pointer;
}


#botonIMG{
float: left;
margin-top: 2px;
margin-left: 23%;
border: 0;
background-color: white;
color: var(--fontColorPrimary);

}

#iconoElegir{
  margin-top: 10px;

}

#botonEnviar{
  font-size: var(--pNormalSize);
  background-color: var(--buttonColorPrimary);
  color: var(--fontColorQuaternary);
  padding-left: 50px;
  padding-right: 50px;
}

#botonEnviar:hover{
  background-color: var(--buttonColorTertiary);
}

#modificarLabel{
  color:var(--fontColorPrimary);
}

.label{
  font-weight: 700;
  color: var(--fontColorPrimary);
  font-size: 20px;

}



input{
  border: 1px dashed var(--fontColorPrimary);
  border-radius: 5px;
  padding:10px;
  width: 100%;

}

input:focus{
  outline: none;
}

textarea{
  border: 1px dashed var(--fontColorPrimary);
  border-radius: 5px;
  padding:10px;
  width: 100%;
  padding:10px;
}

textarea:focus{
  outline: none;
}


.contar_letras{
  margin-right: 20px;
  position: absolute;
  right: 0;
  font-size: var(--SmallSize);
  color: var(--fontColorSecondary);
}

.modal-footer{
  width: 100%;
  justify-content: center;

}

/*TOAST*/

.toast {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 10%;
  text-align: center;
  z-index: 1060;
}

.pInfo{
  color: var(--fontColorPrimary);
  font-weight: 600;

}
.ppadding{
  margin-top: 8px;
}
