<header>
  <nav class="navbar navbar-expand-sm">

      <a class="img"><img src="/assets/LogoNegro.png" alt="image" class="img"></a>

  </nav>
</header>

<div class="main">
  <h1 class="h1"> Page not found</h1>
  <br>
  <img src="assets/404.svg" alt="error404" class="error-404">
  <br>

</div>

