/*Style Nav*/

.sign-in {
  height: 80px;
  width: 80px;
}

nav {
  margin-left: 2%;
  margin-right: 2%;
  border-bottom: 1px solid var(--fontColorPrimary);
  padding: 0;
}

a {
  color: var(--fontColorPrimary);
}

ul {
  list-style-type: none;
}

.img {
  height: 60px;
  margin: auto;
  cursor: pointer;
}

.nav {
  position: absolute;
  right: 20px;
}

.nav-signUp {
  color: var(--fontColorPrimary);
  font-weight: 600;
  font-size: 25px;
}

.nav-signUp:hover {
  background-color: var(--buttonColorPrimary);
}

.link {
  color: var(--fontColorPrimary);
}

.link:hover {
  color: var(--fontColorQuaternary);
}

.h1 {
  font-size: var(--h1NormalSize);
  color: var(--fontColorPrimary);
  font-weight: 600;
}

.main{
  text-align: center;
}

.error-404{
  height: 400px;
}
