<nav-publico> </nav-publico>
<form action=""  [formGroup]="forget" (ngSubmit)="forgetPassword()">
  <input type="text" name="user" id="user" formControlName="user">
  <input type="email" name="email" id="email" formControlName = "email">
  <button type="submit">Send</button>

</form>
