.main{
  width: 1050px;
  height: auto;
  margin: auto;
  margin-top: 3vh;
  background-color: var(--backgroundColor);
  padding: 20px;
  border-radius: 4px;
}

.header{
  display: flex;
  align-items: center;
}
.username{
  color: var(--fontColorPrimary);
  font-size: 28px;
  padding: 10px;
}
.close{
  justify-self: flex-end;
  color: var(--buttonColorPrimary);
}

.profile_image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
}
.profile_imageAux{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.postcomments{
  display: flex;
  justify-content: space-between;
}
.postlikes{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
}
.post{
  width: auto;
  height: auto;
  padding: 20px;
}

.likes{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: auto;
  height: 50px;
  padding: 8px;
}

.text{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  background-color: brown;
}
#text{
  height: 320px;
}
.text p{
  padding: 10px;
}

.footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  padding: 0px 20px 0px 20px;
  color: var(--fontColorPrimary);
}

.likeAvailable{
  color: var(--buttonColorTertiary);
  cursor: pointer;
}
.likeAvailable:hover{
  color: var(--buttonColorPrimary);
}
.likeDisavailable{
  color: var(--buttonColorPrimary);
}



/*Comments*/



.comments{
  height: 450px;
  padding: 20px;
  background-color: rgb(255, 193, 193);
  margin-top: 20px;
}


.profile-image-comment{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.name{
  display: flex;
}

.username-comment{
  font-size: var(--pNormalSize);
  margin-top: 10px;
  margin-left: 5px;
}

.comment-list{
  padding:5px;
}

.send{
  display:flex;
}

.comment-text, .comment-send{
  width: 100%;
}

.send{
  margin-top: 10px;
}
.div-comment-input, .div-comment-send{
  padding: 0;
}



