<div class="main">
  <button type="button" #closebutton class="close" aria-label="Close" data-dismiss="modal" (click)="emitIdPost(-1)">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="header">
    <img class="profile_image" src="{{ profile_image }}" alt="foto_perfil" />
    <span class="username"> {{ post.username }}</span>
  </div>

  <div class="postcomments col-12">
    <div class="postlikes col-8">
      <div class="post">
        <img class="post_image" src="{{ post.imagen }}" alt="post_image" #pic (load)="resize(this.pic)" />

        <div class="likes">
          <i *ngIf="liked == '0 resultados'" class="fas fa-heart fa-2x likeAvailable" (click)="like()"></i>
          <i *ngIf="liked != '0 resultados'" class="fas fa-heart fa-2x likeDisavailable" (click)="dislike()"></i>
        </div>
      </div>

      <div class="text" id="text">
        <img class="profile_imageAux" src="{{ profile_image }}" alt="foto_perfil" />
        <p>{{ post.descripcion }}</p>
      </div>

      <div class="footer col-12">
        <span><i *ngIf="post.location" class="fas fa-map-marker-alt"></i>{{ post.location }}</span>
        <span>{{ post.fecha }}</span>
      </div>
    </div>

    <div class="comments col-4">
      <div class="comment-list card">
        <div class="name">
          <div class="profile-image">
            <img src="assets/welcome7.jpg" alt="user-image" class="profile-image-comment" />
          </div>
          <div class="username-comment">
            <p>username</p>
          </div>
        </div>
        <div class="comment-data">
          <p>Me ha gustado mucho esa imagen</p>
        </div>
        <div class="date">
          <p>responder</p>
          <p>18/1/s2020</p>
        </div>
      </div>
      <div class="send">
        <div class="col-10 div-comment-input">
          <input class="comment-text" type="text" name="" id="" />
        </div>
        <div class="col-2 div-comment-send">
          <button class="btn comment-send">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
