.welcomeImage {
  /* Location of the image */
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when
the content's height is greater than the image's height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
on the container's size */
  background-size: cover;
  /* Set a background color that will be displayed
while the background image is loading */
 height: 100vh;

}


.logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);



}

.layer {
  background-color: rgba(26, 25, 23, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
