<div class="layer imagenBienvenida">

</div>




<div [ngStyle]="{backgroundImage: img}" class="welcomeImage">
  <div class="layer">
    <img src="/assets/LogoBlanco.png" alt="logo" class="logo img-fluid" />
  </div>
</div>
