/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.css";

/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}


:root {
    --backgroundColor: #FFFFFF;
    --backgroundColorFooter: #000000;
    --backgroundColor-AddPhoto: #EAEAEA;
    --fontColorPrimary: #5B1F51;
    --fontColorPrimaryHover: #C1A1B9;
    --fontColorSecondary: #DA95C0;
    --fontColorTertiary: #000000;
    --fontColorQuaternary: #FFFFFF;
    --buttonColorPrimary: #5B1F51;
    --buttonColorSecondary: #CCCBCB;
    --buttonColorTertiary: #DA95C0;
    --hoverColorPrimary: #DA95C0;
    --h1NormalSize: 3em;
    --pNormalSize: 20px;
    --pUserCommented: 25px;
    --SmallSize: 16px;
    --imageSizeWidth: 100%;
    --imageSizeHeight: 100%;
}

body {
  background-color: var(--backgroundColor);
  font-family: 'Nunito', sans-serif;
}








.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background: var(--fontColorPrimary);

}





