.mat-tab-group {
  margin-bottom: 48px;
  font-family: 'Nunito', sans-serif;
}

.mat-tab-label {
  font-size: var(--pNormalSize);
}

.adminsitrator {
  z-index: 100 !important;
}

.main {
  margin: auto;
  margin-top: 1%;
  text-align: center;
}

.h1 {
  font-size: var(--h1NormalSize);
  color: var(--fontColorPrimary);
  font-weight: 500;
}

.registerText {
  color: var(--fontColorPrimary);
  font-size: var(--pNormalSize);
}

.register {
  display: inline;
}

#dob {
  background-color: white;
}

.form {
  width: 800px;
  margin: auto;
}

.form-field {
  text-align: center;
}

.form_div {
  display: flex;
  text-align: center;
}

.nombre {
  text-align: left;
}

.input-text {
  width: 80%;
  border-width: 0 0 2px 0;
  border-color: var(--fontColorPrimary);
  font-size: 20px;
  line-height: 26px;
  color: var(--fontColorSecondary);
  padding-top: 40px;
}
.input-text-edit-user {
  width: 100%;
  border-width: 0 0 2px 0;
  border-color: var(--fontColorPrimary);
  font-size: 20px;
  line-height: 26px;
  color: var(--fontColorSecondary);
  padding-top: 40px;
}

.input-text-date {
  width: 80%;
  border-width: 0 0 2px 0;
  border-color: var(--fontColorPrimary);
  font-size: 20px;
  line-height: 26px;
  color: var(--fontColorSecondary);
  padding-top: 40px;
}

.div-birth {
  margin: auto;
}

.input-text:focus, .input-text-date:focus, .input-text-edit-user {
  outline: none;
}

.input-text::placeholder, .input-text-edit-user::placeholder {
  color: var(--fontColorSecondary);
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.datePickerButtonColor {
  color: var(--fontColorPrimary);
  position: absolute;
  top: 30px;
  right: 40px;
}

/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

.terms {
  text-align: left;
  margin-left: 22px;
  padding-top: 40px;
  color: var(--fontColorPrimary);
}

.sign-up-button {
  background-color: var(--buttonColorSecondary);
  height: 60px;
  width: 240px;
  border: none;
  color: var(--fontColorPrimary);
  font-weight: 600;
  font-size: 25px;
}

.sign-up-button:enabled {
  background-color: var(--buttonColorPrimary);
  color: var(--fontColorQuaternary);
}

.is-admin {
  text-align: center;
  color: var(--fontColorPrimary);
  font-size: var(--pNormalSize);
}

/*----------------------------------------------------------------*/

/*Media queries*/

@media (max-width: 800px) {
  .img {
    text-align: left;
    margin: 0;
  }
  .form {
    width: 100%;
  }
  .input-text {
    margin-top: 20px;
    width: 90%;
  }
  .forgetPass {
    margin: 0;
    text-align: center;
  }
  .terms {
    text-align: left;
    margin-left: 10px;
  }
}

.icons{
  position: absolute;
  top: 40px;
}

.correct{
  color: #13FC00;
}

.wrong{
  color: #FC0000;
}

.user-error{
  z-index: 2000;
}

@media (max-width: 300px) {
  nav, ul {
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
  }
  .form-inline {
    text-align: center;
  }
  .nav {
    position: relative;
    right: 0px;
  }
}

/*Toast*/

.toast {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}



/*EDIT USERS*/

.edit-users{
  height: 280px;
  width: 50%;
  margin: auto;
  border: 1px solid var(--fontColorPrimary);
}

.edit{
    text-align: center;
}
.search-input{
  justify-content: center;
  text-align: center;
}
.search{
  text-align: center;
}

.input-text-edit{
  width: 50%;
  border-width: 0 0 2px 0;
  border-color: var(--fontColorPrimary);
  font-size: 20px;
  line-height: 26px;
  color: var(--fontColorSecondary);
  padding-top: 40px;
}


.input-text-edit:focus {
  outline: none;
}


.input-text-edit::placeholder {
  color: var(--fontColorSecondary);
}


.description{
  border: 1px dashed var(--fontColorPrimary);
  border-radius: 5px;
  padding:10px;

}

.form_post{
  font-size: var(--pNormalSize);
  justify-content: left;
  text-align: left;
}

.input{
  text-align: left;
}

.contar_letras{
  position: absolute;
  right: 5%;
  font-size: var(--SmallSize);
  color: var(--fontColorSecondary);
}


.main{
  z-index: 1;
}


.card{
  width: 100%;
  font-size: var(--pNormalSize);
  color: var(--fontColorPrimary);
  cursor: pointer;
}

.user-image{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.disabled{
  background-color: #dddddd;
}

.edit-button{
  background-color: var(--buttonColorPrimary);
  height: 40px;
  width: 160px;
  border: none;
  color: var(--fontColorQuaternary);
  font-weight: 600;
  font-size: 20px;
  margin: 10px;

}

.edit-summit{
  text-align: center;
}

.administrator-page{
  margin-top: 0px;
}
.is-admin{
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
