<app-nav-privado></app-nav-privado>

<div class="administrator-page">
  <mat-tab-group mat-align-tabs="center" class="adminsitrator">
    <mat-tab label="Edit users">
      <div class="toast admin-toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true"
        data-delay="5000">
        <div class="toast-header">
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          The user has been edited
        </div>
      </div>
      <div class="toast admin-delete-user bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true"
        data-delay="5000">
        <div class="toast-header">
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          The user has been deleted
        </div>
      </div>

      <div class="toast user-error bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
        <div class="toast-header">
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
         There is an error in form. Be sure the user you inserted dosen't exists.
        </div>
      </div>

      <div class="col-12 row">

        <div class="search col-md-6">
          <div class="search-input">
            <br>
            <br>
            <label for="tags" class="form_post">Search User</label>
            <br>
            <input type="search" id="usernameEdit" class="input-text-edit description" name="username"
              [(ngModel)]='userText' (keyup)="userSearch()" autocomplete="off">
          </div>


          <br>

          <div class="overflow-auto edit-users">
            <div class="main">
              <div *ngFor="let user of observables.getUsers()" class="card" (click)="userData(user)">

                <div class="card-body">
                  <p class="card-text">
                    <img src="{{user.profile_image}}" alt="user-image" class="user-image">
                    {{user.username}}
                  </p>
                </div>
              </div>
            </div>


          </div>

        </div>
        <div class="search col-md-6">
          <br>
          <br>
          <div class="col-10 input">
            <form [formGroup]="editUserForm">
              <div>
                <label for="tags" class="form_post">Username</label>
                <br>
                <input type="text" id="usernameEdit"
                  class="input-text-edit-user description disabled" name="username" formControlName="editUsername"
                  [formControl]="control">


              </div>
              <div *ngIf="editSubmitted && e.editUsername.errors" class="invalid-feedback">
                <div *ngIf="e.editUsername.errors!.required">Username is required</div>
              </div>

              <div>
                <label for="tags" class="form_post">Name</label>
                <br>
                <input type="text" id="nameEdit" class="input-text-edit-user description" [value]="nameEdit"
                  name="username" formControlName="editName">

              </div>
              <div>
                <div class="bio">
                  <div id="description_label">
                    <label for="description" class="form_post">Bio</label>
                    <small class="contar_letras" id="contar_letras">{{ bioEdit?.length }}/160</small>
                  </div>


                  <textarea rows="6" maxlength=160 (keyup)="0" class="input-text-edit-user description" name="name"
                    [value]="bioEdit" formControlName="editBio"></textarea>
                </div>

                <div class="is-admin">
                  <mat-slide-toggle [checked]="isAdminEdit" formControlName="editAdmin" class="is-admin">Is admin?
                  </mat-slide-toggle>
                </div>
                <div class="edit-summit">
                  <div class="col-md-12">
                    <button type="submit" class="edit-button" id="a" (click) = "onEditUser()">Edit this user</button>
                    <button class="edit-button" id="eliminar" (click) = "deleteUser()">Delete this user</button>
                  </div>
                </div>
              </div>
            </form>
          </div>

        </div>

      </div>



    </mat-tab>
    <mat-tab label="Register users">

      <div class="main">


        <div class="toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true"
          data-delay="5000">
          <div class="toast-header">
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            The user has been registered
          </div>
        </div>

        <h1 class="h1">Create an account for users</h1>
        <br>
        <section class="register container">

          <form class="form container-fluid" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <div class="form_div row">
              <div class="col-md-6 form-field">



                <input formControlName="Name" type="text" id="name" class="input-text" name="name" placeholder="Name"
                  [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" required>
                <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                  <div *ngIf="f.Name.errors!.required">Name is required</div>
                </div>


              </div>
              <div class="col-md-6 form-field">
                <input onkeydown="return false" formControlName="dob" placeholder="Date of Birth" class="input-text"
                  type="text" id="dob" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" required [max]="maxDate"
                  [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker" class="datePickerButtonColor"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                  <div *ngIf="f.dob.errors!.required">Date of Birth is required</div>
                </div>
                <!--<mat-error *ngIf="registerForm.get('dob')?.hasError('invalidDOBYear')">
                      Select year greater than 2000.
                   </mat-error>-->

              </div>
            </div>
            <!-- </div>-->
            <div class="row form_div">
              <div class="col-md-6 form-field">


                <input formControlName="username" type="text" id="username" class="input-text" name="username"
                  placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required (keyup)="userSearchRegister()">
                  <i class="fas fa-check icons correct" *ngIf="this.userExists" mat-raised-button matTooltip="User available"></i>
                  <i class="fas fa-times icons wrong" *ngIf="!this.userExists"  mat-raised-button matTooltip="User already exists"></i>
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors!.required">Username is required</div>
                </div>


              </div>
              <div class="col-md-6 form-field">

                <input formControlName="phone" type="number" class="input-text" name="telephone" placeholder="Phone Nº"
                  [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required>
                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                  <div *ngIf="f.phone.errors!.required">Phone Nº is required</div>
                  <div *ngIf="f.phone.errors!.minlength">Phone must be at least 9 numbers</div>
                  <div *ngIf="f.phone.errors!.pattern">Phone must be numbers</div>
                </div>

              </div>
            </div>
            <div class="form_div row">
              <div class="col-md-6 form-field">

                <input formControlName="email" type="email" id="email" class="input-text" name="email"
                  placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors!.required">Email is required</div>
                  <div *ngIf="f.email.errors!.email">Email must be a valid email address</div>
                </div>

              </div>
              <div class="col-md-6 form-field">
                <input formControlName="confirmEmail" type="email" class="input-text" name="confirm-email"
                  placeholder="Confirm Email" [ngClass]="{ 'is-invalid': submitted && f.confirmEmail.errors }" required>
                <div *ngIf="submitted && f.confirmEmail.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmEmail.errors!.required">Confirm Email is required</div>
                  <div *ngIf="f.confirmEmail.errors!.email">Email must be a valid email address</div>
                  <div *ngIf="f.confirmEmail.errors!.matchEmail">Emails must match</div>
                </div>
              </div>
            </div>
            <div class="form_div row">
              <div class="col-md-6 form-field">
                <input formControlName="password" type="password" id="password" class="input-text" name="password"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password" required>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors!.required">Password is required</div>
                  <div *ngIf="f.password.errors!.minlength">Password must be at least 6 characters</div>
                </div>

              </div>
              <div class="col-md-6 form-field">
                <input formControlName="confirmPassword" type="password" class="input-text" name="confirm-password"
                  placeholder="Confirm Password" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                  required>
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmPassword.errors!.required">Confirm Password is required</div>
                  <div *ngIf="f.confirmPassword.errors!.mustMatch">Passwords must match</div>
                </div>

              </div>
            </div>
            <br><br><br>
            <div class="form_div row admin">
              <div class="col-md-12 is-admin">
                <mat-slide-toggle formControlName="isAdmin">Is admin?</mat-slide-toggle>
              </div>
            </div>
            <br><br>
            <div class="form_div row">
              <div class="col-md-12">
                <button class="sign-up-button" id="a">Register this user</button>
              </div>
            </div>
          </form>
        </section>




      </div>



    </mat-tab>
  </mat-tab-group>

</div>
<app-footer></app-footer>
