/*Style Nav*/

nav {
  margin-left: 2%;
  margin-right: 2%;
  border-bottom: 1px solid var(--fontColorPrimary);
  padding: 0;
}

.nav {
  display: flex;
  flex-direction: row;
}

a {
  color: var(--fontColorPrimary);
}

ul {
  list-style-type: none;
}

.img {
  height: 60px;
  margin: auto;
  cursor: pointer;
}

.fa-search {
  height: 50px;
  position: absolute;
  top: 10px;
  color: var(--fontColorPrimary);
}

.fa-bars {
  color: var(--fontColorPrimary);
}

.navbar-toggler-icon {
  color: var(--fontColorPrimary) !important;
}

.image {
  text-align: center;
  width: 100%;
}

ul li {
  margin-left: 20px;
}
li:hover a{
  color: var(--fontColorQuaternary) !important;
}

.nav, .navbar-toggler {
  position: absolute;
  right: 20px;
}

.nav-signUp {
  color: var(--fontColorPrimary);
  font-weight: 600;
  font-size: 25px;
  padding: 5px;
}

.nav-link {
  padding: 5px;
}

.nav-signUp:hover {
  background-color: var(--buttonColorPrimary);
}

.link {
  color: var(--fontColorPrimary) !important;
}

.link:hover {
  color: var(--fontColorQuaternary) !important;
}

.sign-up {
  background-color: var(--buttonColorPrimary);
  color: var(--fontColorQuaternary) !important;
}

.sign-up:hover {
  background-color: var(--buttonColorSecondary);
  color: var(--fontColorPrimary) !important;
  border: 1px solid var(--buttonColorPrimary);
}

.navbar-light {
  color: var(--fontColorQuaternary);
}

.navbar .icon {
  display: none;
}

/*----------------------------------------------------------------*/

/*Media queries*/

@media screen and (max-width: 600px) {
  .form-inline {
    display: none;
  }
  .navbar .icon {
    float: right;
    display: block;
    position: absolute;
    right: 0px;
  }
  .form-inline.responsive {
    display: block;
    flex-direction: column;
  }
  .nav {
    flex-direction: column;
    margin-top: 35px;
    width: 100%;
    margin-right: -10px;
    text-align: center;
  }
  .nav-signUp {
    background-color: var(--buttonColorSecondary);
    border-radius: 5px;
  }
  .link, .nav-signUp {
    color: var(--fontColorPrimary) !important;
  }
  .sign-up {
    color: var(--buttonColorPrimary) !important;
    background-color: transparent !important;
  }
  .sign-up:hover {
    color: var(--fontColorQuaternary) !important;
  }
}

/*
@media (max-width: 300px) {
  nav, ul {
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
  }
  .nav {
    position: relative;
    right: 0px;
  }
}
*/







.input_search {
  outline: none;
}

.search{
  position: relative;
}

.search-bar{
  position: absolute;
  top: -20px;
}


.input_search {
  background:  url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 10px center;
  border: solid 1px var(--fontColorPrimary);
  padding: 9px 10px 9px 32px;
  width: 80px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.input_search:focus {
  width: 160px;

}

.input_search:-moz-placeholder {
  color: #999;
}

.input_search::-webkit-input-placeholder {
  color: #999;
}
