<header>
    <nav class="navbar">

      <div class="search" *ngIf="observables.variable == 0">
        <!-- <img src="/assets/search.svg" alt="search" class="img-search">-->
        <!--<i class="fas fa-search fa-2x img-search"></i>-->
        <input type="search" placeholder="Search" class="input_search img-search search-bar" (focus) = "focus_search_true()" (blur) = "focus_search_false()" [(ngModel)]='tagText' (keyup)="tagSearch()">
      </div>

      <div class="search" *ngIf="observables.variable == 1">
        <!-- <img src="/assets/search.svg" alt="search" class="img-search">-->
        <!--<i class="fas fa-search fa-2x img-search"></i>-->
        <input type="search" placeholder="Search" class="input_search img-search search-bar" (focus) = "focus_search_true()" (blur) = "focus_search_false()" [(ngModel)]='userText' (keyup)="userSearch()">
      </div>

        <div class="image">
            <a routerLink="/home" class="img">
                <img src="/assets/LogoNegro.png" alt="image" class="img" />
            </a>
        </div>

        <div class="form-inline " id="form" #form>

            <ul class="nav navbar-nav">
                <li class="nav-item nav-signUp">
                    <a class="nav-link link" routerLink="/login">Sign In</a>
                </li>
                <li class="nav-item nav-signUp">
                    <a class="nav-link sign-up" routerLink="/register">Sign Up</a>
                </li>
            </ul>
        </div>
        <div class="icon"><i class="fa fa-2x fa-bars"  (click)="myFunction()"></i></div>

    </nav>
</header>



