.main {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 60px;
  z-index: 0;
}
.card{
  border-radius: 10px;
  border: none;
  margin: 10px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: flex-end;
  color: var(--fontColorPrimary);
  font-size: var(--pNormalSize);
}
.card:hover .hover{
  display: flex;
}
.hover{
  background-color: var(--fontColorPrimaryHover);
  opacity: 50%;
}
.img-card{
  border-radius: 3px;
  width: auto;
  height: auto;
}
.card-body{
  padding: 0;
  padding-top: 10px;
}

.img-fluid {
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.img-fluid:after {
  content:"";
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-size: cover;
  background-repeat: no-repeat;
  opacity:0;
  transition:opacity .5s ease;
  background-color: var(--hoverColorPrimary);
}

.img-fluid:hover:after {
  opacity:0.6;
}
.img-fluid:hover .showLikes{
  visibility: visible;
  transition: visibility 2s ease-out;

}

.img-fluid img {
  display: block;
}

.showLikes{
  position: absolute;
  visibility: hidden;
  transition: visibility 0s ease-out;
  color: var(--fontColorQuaternary);
  z-index: 1;
}

.likesTotal{
  position: absolute;
  right: 20px;
}

.card-text{
  cursor: pointer;
}
