<nav-publico></nav-publico>

  <div class="main col-12 col-sm-10" *ngIf="observables.variable == 0">
    <div *ngFor="let post of observables.getPosts()" class="card">
      <div class="img-fluid" routerLink="/post/{{post.id}}">
        <img src={{post.imagen}} class="img-fluid" alt="post" #pic (load)='resize(this.pic)'>
          <i class="fas fa-camera-retro fa-2x showLikes"></i>
      </div>
        <div class="card-body col-12">
            <p class="card-text" routerLink="/{{post.username}}">
                {{post.username}}
                <span class="likesTotal">{{post.valMedia}}<i class="fas fas fa-heart icon"></i></span>
            </p>
        </div>
    </div>
</div>

<div class="elfsight-app-893fa061-6dfa-43e8-8759-a9faf3eded08"></div>

<app-footer></app-footer>
