/*Style Nav*/

.sign-in {
  height: 80px;
  width: 80px;
}

nav {
  margin-left: 2%;
  margin-right: 2%;
  border-bottom: 1px solid var(--fontColorPrimary);
  padding: 0;
}

a {
  color: var(--fontColorPrimary);
}

ul {
  list-style-type: none;
}

.img {
  height: 60px;
  margin: auto;
  cursor: pointer;
}

.nav {
  position: absolute;
  right: 20px;
}

.nav-signUp {
  color: var(--fontColorPrimary);
  font-weight: 600;
  font-size: 25px;
}

.nav-signUp:hover {
  background-color: var(--buttonColorPrimary);
}

.link {
  color: var(--fontColorPrimary);
}

.link:hover {
  color: var(--fontColorQuaternary);
}

/*----------------------------------------------------------------*/

/*Main*/

/*Style Main, form*/

.main {
  margin: auto;
  margin-top: 1%;
  text-align: center;
}

.h1 {
  font-size: var(--h1NormalSize);
  color: var(--fontColorPrimary);
  font-weight: 400;
}



.register {
  display: inline;

}

.form{
  border: 2px dashed var(--fontColorPrimary);
  padding: 20px;
}

#dob{
  background-color: white;
}

.form {
  width: 800px;
  margin: auto;
}

.form-field {
  text-align: center;
}

.form_div {
  display: flex;
  text-align: center;
}

.icons-div{
  position: relative;

}
.icons{
  position: absolute;
  top: 20px;
}

.correct{
  color: #13FC00;
}

.wrong{
  color: #FC0000;
}


.nombre {
  text-align: left;
}

.input-text {
  width: 80%;
  border-width: 0 0 2px 0;
  border-color: var(--fontColorPrimary);
  font-size: 20px;
  line-height: 26px;
  color: var(--fontColorSecondary);
  margin-top: 20px;
  margin-bottom: 20px;
}

.input-text-date {
  width: 80%;
  border-width: 0 0 2px 0;
  border-color: var(--fontColorPrimary);
  font-size: 20px;
  line-height: 26px;
  color: var(--fontColorSecondary);
  padding-top: 40px;
}

.div-birth {
  margin: auto;
}

.input-text:focus, .input-text-date:focus {
  outline: none;
}

.input-text::placeholder {
  color: var(--fontColorSecondary);
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.datePickerButtonColor {
  color: var(--fontColorPrimary);
  position: absolute;
  top: 10px;
  right: 40px;
}

/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

.terms {
  text-align: left;
  margin-left: 22px;
  padding-top: 40px;
  color: var(--fontColorPrimary);
}


.sign-up-button {
  background-color: var(--buttonColorPrimary);
  height: 60px;
  width: 200px;
  border: none;
  color: var(--fontColorQuaternary);
  font-weight: 600;
  font-size: 25px;
  margin-top: 20px;
}

.sign-up-button:hover {
  background-color: var(--buttonColorTertiary);
  color: var(--fontColorPrimary);
  font-weight: 600;

}

.disabled{
  background-color: #dddddd;
}

.toast {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

/*----------------------------------------------------------------*/

/*Media queries*/

@media (max-width: 800px) {
  .img {
    text-align: left;
    margin: 0;
  }
  .form {
    width: 100%;
  }
  .input-text {
    margin-top: 20px;
    width: 90%;
  }
  .forgetPass {
    margin: 0;
    text-align: center;
  }
  .terms {
    text-align: left;
    margin-left: 10px;
  }
}

@media (max-width: 300px) {
  nav, ul {
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
  }
  .form-inline {
    text-align: center;
  }
  .nav {
    position: relative;
    right: 0px;
  }
}
