<app-nav-privado></app-nav-privado>

<div class="main">

  <br>

  <h1 class="h1"><i class="fas fa-cog"></i></h1>
  <br>

  <div class="toast edit-toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true"
        data-delay="5000">
        <div class="toast-header">
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          The user has been edited
        </div>
      </div><div class="toast password-toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true"
      data-delay="5000">
      <div class="toast-header">
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        The password has been changed
      </div>
    </div>

  <h1 class="h1">Profile</h1>

  <section class="register container">

    <form action="POST" class="form container-fluid" [formGroup]="editUserData" (ngSubmit)="editUserDataFunction()">

      <div class="form_div row">
        <div class="col-md-6 form-field">



          <input formControlName="Name" type="text" id="name" class="input-text" name="name" placeholder="Name"
            [ngClass]="{ 'is-invalid': submitted && user.Name.errors }" required>
          <div *ngIf="submitted && user.Name.errors" class="invalid-feedback">
            <div *ngIf="user.Name.errors!.required">Name is required</div>
          </div>


        </div>
        <div class="col-md-6 form-field">
          <input onkeydown="return false" formControlName="dob" [max]="minDate" placeholder="Date of Birth"
            class="input-text" type="text" id="dob" [ngClass]="{ 'is-invalid': submitted && user.dob.errors }" required
            [max]="maxDate" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker" class="datePickerButtonColor"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <div *ngIf="submitted && user.dob.errors" class="invalid-feedback">
            <div *ngIf="user.dob.errors!.required">Date of Birth is required</div>
          </div>

        </div>
      </div>

      <div class="row form_div">
        <div class="col-md-6 form-field">

          <div class="icon-div">
            <input formControlName="username" type="text" id="username" class="input-text disabled" name="username" [formControl]="control"
              placeholder="Username" [ngClass]="{ 'is-invalid': submitted && user.username.errors }" required>

          </div>
          <div *ngIf="submitted && user.username.errors" class="invalid-feedback">
            <div *ngIf="user.username.errors!.required">Username is required</div>
          </div>


        </div>
        <div class="col-md-6 form-field">

          <input formControlName="phone" type="number" class="input-text" name="telephone" placeholder="Phone Nº"
            [ngClass]="{ 'is-invalid': submitted && user.username.errors }" required>
          <div *ngIf="submitted && user.phone.errors" class="invalid-feedback">
            <div *ngIf="user.phone.errors!.required">Phone Nº is required</div>
            <div *ngIf="user.phone.errors!.minlength">Phone must be at least 9 numbers</div>
            <div *ngIf="user.phone.errors!.pattern">Phone must be numbers</div>
          </div>

        </div>
      </div>
      <div class="form_div row">
        <div class="col-md-6 form-field">

          <input formControlName="email" type="email" id="email" class="input-text" name="email" placeholder="Email"
            [ngClass]="{ 'is-invalid': submitted && user.email.errors }" required>
          <div *ngIf="submitted && user.email.errors" class="invalid-feedback">
            <div *ngIf="user.email.errors!.required">Email is required</div>
            <div *ngIf="user.email.errors!.email">Email must be a valid email address</div>
          </div>

        </div>
        <div class="col-md-6 form-field">
          <input formControlName="confirmEmail" type="email" class="input-text" name="confirm-email"
            placeholder="Confirm Email" [ngClass]="{ 'is-invalid': submitted && user.confirmEmail.errors }" required>
          <div *ngIf="submitted && user.confirmEmail.errors" class="invalid-feedback">
            <div *ngIf="user.confirmEmail.errors!.required">Confirm Email is required</div>
            <div *ngIf="user.confirmEmail.errors!.email">Email must be a valid email address</div>
            <div *ngIf="user.confirmEmail.errors!.matchEmail">Emails must match</div>
          </div>
        </div>
      </div>

      <div class="form_div row">
        <div class="col-md-12">
          <button class="sign-up-button">Save Changes</button>
        </div>
      </div>

    </form>

  </section>

  <br>
  <br>
  <br>
  <h1 class="h1">Password</h1>
  <section class="register container">

    <form action="POST" class="form container-fluid" [formGroup]="editUserPassword"
      (ngSubmit)="editUserPasswordFunction()">


      <div class="form_div row">
        <div class="col-md-6 form-field">
          <input formControlName="password" type="password" id="password" class="input-text" name="password"
            [ngClass]="{ 'is-invalid': submitted && password.password.errors }" placeholder="Password" required>
          <div *ngIf="submitted && password.password.errors" class="invalid-feedback">
            <div *ngIf="password.password.errors!.required">Password is required</div>
            <div *ngIf="password.password.errors!.minlength">Password must be at least 6 characters</div>
          </div>

        </div>
        <div class="col-md-6 form-field">
          <input formControlName="confirmPassword" type="password" class="input-text" name="confirm-password"
            placeholder="Confirm Password" [ngClass]="{ 'is-invalid': submitted && password.confirmPassword.errors }"
            required>
          <div *ngIf="submitted && password.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="password.confirmPassword.errors!.required">Confirm Password is required</div>
            <div *ngIf="password.confirmPassword.errors!.mustMatch">Passwords must match</div>
          </div>

        </div>
      </div>

      <div class="form_div row">
        <div class="col-md-12">
          <button class="sign-up-button">Save Changes</button>
        </div>
      </div>

    </form>

  </section>




</div>

<app-footer></app-footer>
