<header>
    <nav class="navbar navbar-expand-sm">

        <a routerLink="/home" class="img"><img src="/assets/LogoNegro.png" alt="image" class="img"></a>

        <div class="form-inline" id="navbarSupportedContent">

            <ul class="nav navbar-nav">
                <li class="nav-item nav-signUp">
                    <a class="nav-link link" routerLink="/register">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="main">

    <br>

    <h1 class="h1">Sign In</h1>
    <br>

    <p class="loginText">Sign in to discover the beautiful world of images</p>
    <span style="color: red;">{{this.errorMessage}}</span>
    <section class="form-log-in">
        <form action="POST">
            <div class="container form">
                <div class="column inputs">
                    <div class="row logIn-form">
                        <div class="form-field col-md-12">
                            <input type="text" id="username" class="input-text" name="username" #user [(ngModel)]='idusername' required>
                            <!-- <label  class="label_prueba" for="">username</label>-->
                            <span class="span">Username</span>
                        </div>
                        <div class="form-field col-md-12">
                            <input type="password" id="password" class="input-text" name="password" #pass [(ngModel)]='idpassword' required>
                            <span class="span">Password</span>
                        </div>
                        <br><br>
                        <br><br>
                        <div class="form-field col-lg-12 terms">
              <input type="checkbox" name="remember-session" [(ngModel)]='remember'>
              Remember me.
            </div>
                        <div class="form-field col-md-6 forgetPass">
                            <ul>
                                <li><a>Forgot Password? Click Here</a></li>
                                <br>
                                <li><a routerLink="/register">Not Registered? Sign Up Here</a></li>
                            </ul>
                        </div>
                        <div class="form-field col-md-6">
                            <button type="submit" class="sign-in-button" (click)="onButtonClick()" [disabled]="user.value.length == 0 || pass.value.length == 0">Sign In</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </section>





</div>
