/*Style Nav*/

.sign-in {
  height: 80px;
  width: 80px;
}

nav {
  margin-left: 2%;
  margin-right: 2%;
  border-bottom: 1px solid var(--fontColorPrimary);
  padding: 0;
}

a{
  color: var(--fontColorPrimary);

}

ul {
  list-style-type: none;
}

.img {
  height: 60px;
  margin: auto;
  cursor: pointer;
}

.nav {
  position: absolute;
  right: 20px;
}

.nav-signUp {
  color: var(--fontColorPrimary);
  font-weight: 600;
  font-size: 25px;
}

.nav-signUp:hover {
  background-color: var(--buttonColorPrimary);
}

.link {
  color: var(--fontColorPrimary);
}

.link:hover {
  color: var(--fontColorQuaternary);
}

/*----------------------------------------------------------------*/

/*Style Main*/

.main {
  margin: auto;
  margin-top: 1%;
  text-align: center;
}

.h1 {
  font-size: var(--h1NormalSize);
  color: var(--fontColorPrimary);
  font-weight: 600;
}

.loginText {
  color: var(--fontColorPrimary);
  font-size: var(--pNormalSize);
}

/*----------------------------------------------------------------*/

/*Log in form*/

.inputs {
  display: block;
}

.form {
  width: 600px;
}

.logIn-form {
  text-align: center;
  margin: auto;
}

.form-log-in{
  color: var(--fontColorPrimary);
}

.form-log-in .form-field {
  position: relative;
  margin: 32px 0;
  width: 100%;
}

.form-log-in .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: var(--fontColorPrimary);
  font-size: 20px;
  line-height: 26px;
  position: absolute;
  top: 35px;
  color: var(--fontColorSecondary);

}



.input-text~.span {
  transition: top .7s ease;
  position: absolute;
  top: 35px;
  left: 15px;
  font-size: var(--pNormalSize);
  color: var(--fontColorSecondary);
}

.input-text:focus~.span {
  top: 0px;
}


.input-text[data-empty="true"] + .span,
.input-text:valid + .span,
.input-text:focus + .span {
    top: 10px;
    color: var(--fontColorPrimary);
}



.form-log-in .input-text:focus {
  outline: none;
}

.input-text::placeholder {
  color: var(--fontColorSecondary);
}

.terms{
  text-align: left;
}

.forgetPass{
  margin: 0;
  text-align: left;

}

.sign-in-button{
  background-color: var(--buttonColorSecondary);
  height: 60px;
  width: 150px;
  border: none;
  color: var(--fontColorPrimary);
  font-weight: 600;
  font-size: 25px;

}

.sign-in-button:enabled{
  background-color: var(--buttonColorPrimary);
  color: var(--fontColorQuaternary);
}
/*----------------------------------------------------------------*/

/*Media queries*/

@media (max-width: 800px) {
  .img {
    text-align: left;
    margin: 0;
  }
  .form {
    width: 100%;
  }


.form-log-in .input-text {
  width: 90%;


}

.forgetPass{
  margin: 0;
  text-align: center;

}
}

@media (max-width: 300px) {
  nav, ul {
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
  }
  .form-inline {
    text-align: center;
  }
  .nav {
    position: relative;
    right: 0px;
  }
}
