<app-nav-privado></app-nav-privado>

  <button class="btn btn_search" (click)='observables.addVar(1)' >User</button>
  <button class="btn btn_search" (click)='observables.addVar(0)'>Post</button>

    <div class="main col-12 col-sm-10" *ngIf="observables.variable == 0">
        <div class="caja" *ngFor="let post of observables.getPosts()" >
          <div class="img-fluid btn-primary" routerLink="/post/{{post.id}}">
            <img src={{post.imagen}} class="img-fluid"  alt="post" #pic (load)='resize(this.pic)'>
              <i class="fas fa-camera-retro fa-2x showLikes"  ></i>
          </div>
            <div class="card-body col-12">
              <a routerLink="/{{post.username}}"><p class="card-text col-12">
                    {{post.username}}
                    <span class="likesTotal">{{post.valMedia}}<i class="fas fas fa-heart icon"></i></span>
                </p></a>
            </div>
        </div>
    </div>

    <div class="main col-12 col-sm-10" *ngIf="observables.variable == 1">
      <div *ngFor="let user of observables.getUsers()" class="card" >
        <a routerLink="/{{user.username}}"><div class="img-fluid2">
          <img src={{user.profile_image}} class="img-fluid2 img-user" alt="post" #pic (load)='resize(this.pic)'>
            <i class="fas fa-camera-retro fa-2x showLikes"></i>
        </div></a>
          <div class="card-body col-12">
              <p class="card-text">
                  {{user.username}}
              </p>
          </div>
      </div>
  </div>

<!-- Modal -->
    <!--<div *ngIf='idpost != -1'>

      <app-post-modal (idOut)='postId($event)' [id]='idpost' class="modal" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"></app-post-modal>
    </div>-->

<div class="elfsight-app-893fa061-6dfa-43e8-8759-a9faf3eded08"></div>

<app-footer style="bottom: 0;"></app-footer>

