.main {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
  z-index: 0;
}
.card{
  border-radius: 10px;
  border: none;
  margin: 10px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: flex-end;
  color: var(--fontColorPrimary);
  font-size: var(--pNormalSize);
}
.card:hover .hover{
  display: flex;
}
.card-text{
  display: flex;
  justify-content: space-between;
  font-size: var(--pNormalSize);
  color: var(--fontColorPrimary);
}

.img-user{
  height: 150px;
  width: 150px  !important;
  border-radius: 50%;
}

.img-card{
  border-radius: 3px;
  width: auto;
  height: auto;
}
.card-body{
  padding: 0;
  padding-top: 10px;
}

.btn_search{
  background-color: var(--fontColorPrimary);
  color: var(--fontColorQuaternary);
  padding: 10px;
  margin-left: 10px;
  margin-top: 20px;
  font-size: var(--pNormalSize);
}

.btn_search:hover{
  background-color: var(--fontColorSecondary);
  color: var(--fontColorTertiary);
}

.img-fluid {
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  }

  .img-fluid2 {
    display: inline-block;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    }

.img-fluid:after {
  content:"";
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-size: cover;
  background-repeat: no-repeat;
  opacity:0;
  transition:opacity .5s ease;
  background-color: var(--hoverColorPrimary);
}

.img-fluid2:after {
  content:"";
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-size: cover;
  background-repeat: no-repeat;
  opacity:0;
  transition:opacity .5s ease;
  background-color: var(--hoverColorPrimary);
  border-radius: 50%;
}

.img-fluid:hover:after {
  opacity:0.6;
}

.img-fluid2:hover:after {
  opacity:0.6;
  border-radius: 50%;
}
.img-fluid:hover .showLikes{
  visibility: visible;
  transition: visibility 2s ease-out;

}

.img-fluid2:hover .showLikes{
  visibility: visible;
  transition: visibility 2s ease-out;

}

.img-fluid img {
  display: block;
}
.img-fluid2 img {
  display: block;
}

.showLikes{
  position: absolute;
  visibility: hidden;
  transition: visibility 0s ease-out;
  color: var(--fontColorQuaternary);
  z-index: 1;
}

.likesTotal{
  position: absolute;
  right: 20px;
}
.icon{
  margin-left: 5px;
}

.caja{
  margin: 10px;
}


/*MODAL*/
.postBack{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: brown;
}

a{
  text-decoration: none;
}
