<header>
  <nav class="navbar navbar-expand-sm">

    <a routerLink="/home" class="img"><img src="/assets/LogoNegro.png" alt="image" class="img"></a>

    <div class="form-inline" id="navbarSupportedContent">

      <ul class="nav navbar-nav">
        <li class="nav-item nav-signUp">
          <a class="nav-link link" routerLink="/login">Sign In</a>
        </li>
      </ul>
    </div>
  </nav>
</header>


<div class="main">

  <div class="toast bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
    <div class="toast-header">
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
     There is an error in form. Be sure the user you inserted dosen't exists.
    </div>
  </div>
  <br>

  <h1 class="h1">Sign Up</h1>
  <br>

  <p class="registerText">Sign Up to discover the beautiful world of images</p>
  <br>

  <p class="registerTextForm">Please fill this form to create an account</p>
  <!--TOAST-->
  <section class="register container">

    <form action="POST" class="form container-fluid" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="form_div row">
        <div class="col-md-6 form-field">



          <input formControlName="Name" type="text" id="name" class="input-text" name="name" placeholder="Name"
            [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" required>
          <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
            <div *ngIf="f.Name.errors!.required">Name is required</div>
          </div>


        </div>
        <div class="col-md-6 form-field">
          <input onkeydown="return false" formControlName="dob" [max]="minDate" placeholder="Date of Birth"
            class="input-text" type="text" id="dob" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" required
            [max]="maxDate" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker" class="datePickerButtonColor"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
            <div *ngIf="f.dob.errors!.required">Date of Birth is required</div>
          </div>
          <!--<mat-error *ngIf="registerForm.get('dob')?.hasError('invalidDOBYear')">
                      Select year greater than 2000.
                   </mat-error>-->

        </div>
      </div>
      <!-- </div>-->
      <div class="row form_div">
        <div class="col-md-6 form-field">


          <input formControlName="username" type="text" id="username" class="input-text" (keyup)="userSearch()"
            name="username" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
            required>
          <i class="fas fa-check icons correct" *ngIf="this.userExists" mat-raised-button matTooltip="User available"></i>
          <i class="fas fa-times icons wrong" *ngIf="!this.userExists"  mat-raised-button matTooltip="User already exists"></i>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors!.required">Username is required</div>
            <div *ngIf="!this.userExists">Username already exists</div>
          </div>


        </div>
        <div class="col-md-6 form-field">

          <input formControlName="phone" type="number" class="input-text" name="telephone" placeholder="Phone Nº"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required>
          <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
            <div *ngIf="f.phone.errors!.required">Phone Nº is required</div>
            <div *ngIf="f.phone.errors!.minlength">Phone must be at least 9 numbers</div>
            <div *ngIf="f.phone.errors!.pattern">Phone must be numbers</div>
          </div>

        </div>
      </div>
      <div class="form_div row">
        <div class="col-md-6 form-field">

          <input formControlName="email" type="email" id="email" class="input-text" name="email" placeholder="Email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors!.required">Email is required</div>
            <div *ngIf="f.email.errors!.email">Email must be a valid email address</div>
          </div>

        </div>
        <div class="col-md-6 form-field">
          <input formControlName="confirmEmail" type="email" class="input-text" name="confirm-email"
            placeholder="Confirm Email" [ngClass]="{ 'is-invalid': submitted && f.confirmEmail.errors }" required>
          <div *ngIf="submitted && f.confirmEmail.errors" class="invalid-feedback">
            <div *ngIf="f.confirmEmail.errors!.required">Confirm Email is required</div>
            <div *ngIf="f.confirmEmail.errors!.email">Email must be a valid email address</div>
            <div *ngIf="f.confirmEmail.errors!.matchEmail">Emails must match</div>
          </div>
        </div>
      </div>
      <div class="form_div row">
        <div class="col-md-6 form-field">
          <input formControlName="password" type="password" id="password" class="input-text" name="password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password" required>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors!.required">Password is required</div>
            <div *ngIf="f.password.errors!.minlength">Password must be at least 6 characters</div>
          </div>

        </div>
        <div class="col-md-6 form-field">
          <input formControlName="confirmPassword" type="password" class="input-text" name="confirm-password"
            placeholder="Confirm Password" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" required>
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors!.required">Confirm Password is required</div>
            <div *ngIf="f.confirmPassword.errors!.mustMatch">Passwords must match</div>
          </div>

        </div>
      </div>
      <div class="form_div row terms">
        <div class="col-md-6">
          <input formControlName="acceptTerms" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }"
            type="checkbox" name="accepted-Terms"> By signing up, you agree to your terms.
        </div>
        <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
      </div>
      <br><br>
      <div class="form_div row">
        <div class="col-md-12">
          <button class="sign-up-button">Sign Up</button>
        </div>
      </div>
    </form>
  </section>





</div>
