footer {
  height: 150px;
  background-color: var(--backgroundColorFooter);
  color: var(--fontColorQuaternary);
  width: 100%;
}

.logo {
  height: 150px;
}

.footerDiv {
  display: inline-block;
}

.logoDiv {
  width: 33.33%;
}

.linksDiv {
  width: 10%;
}

.socialDiv {
  width: 50%;
  height: 100%;
  float: right;
}

.socialLink {
  color: var(--fontColorQuaternary);
  float: right;
  padding-right: 50px;
  margin-top: 20px;
}

.linkFoooter {
  color: var(--fontColorSecondary);
  text-decoration: underline;
  text-decoration-color: var(--fontColorQuaternary);
  text-underline-offset: 3px;
}

.liDiv {
  overflow: auto;
  margin-top: 20%;
}

.copyright {
  display: none;
}

ul {
  list-style: none;
}

@media screen and (max-width: 900px) {
  .footerDiv {
    margin: auto;
    width: 100%;
    text-align: center;
  }
  .socialDiv, .linksDiv {
    display: none;
  }
  .logo {
    margin-top: 0;
    text-align: center;
  }
  .copyright {
    display: none;
  }
  .main {
    margin: auto;
  }
}
