<footer>
    <div class="main">
        <div class="logoDiv footerDiv">
            <img src="/assets/LogoBlanco.png" class="logo" alt="Logo">
        </div>

        <div class="socialDiv footerDiv">
            <a class="socialLink" href=""><i class="fab fa-4x fa-whatsapp"></i></a>
            <a class="socialLink" href=""><i class="fab fa-4x fa-facebook"></i></a>
            <a class="socialLink" href=""><i class="fab fa-4x fa-twitter"></i></a>
            <a class="socialLink" href=""><i class="fab fa-4x fa-instagram"></i></a>
        </div>

    </div>

</footer>
